body {
    background-color: #f8f7f3;
}

header {
    width: 90%;
    display: flex;
    justify-content: space-between;
	align-items: center;
    font-size: 25px;
    margin: 50px auto;
    font-family: Georgia,Times,Times New Roman,serif; 
}

header div span i {
    color: #edd024;
}

.fila {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fila div {
    margin: 10px;
    width: 27%;
    padding: 0.5% 2%;
	border: 1px;
	border-style: solid;
	border-radius: 25px;
	border-color: black;
    text-align: center;
    height: 260px;
    background-color: white;
}

/*.fila div p {
    text-align: justify;
}*/

#uno {font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
#dos {font-family: Arial,Helvetica Neue,Helvetica,sans-serif; }
#tres {font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; }
#cuatro {font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; }
#cinco {font-family: Geneva,Tahoma,Verdana,sans-serif; }
#seis {	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; }


