body {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
  background-color: #e9e3d7;
  color: black;
	position: relative;
  cursor: default;
}

header {
	width: 90%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
}

main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

main img {
  width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
  display: block;
  padding-bottom: 25px;
}

main div a {
	text-decoration: none;
}

.linq{
	margin: 8px -25px 0px -25px;
	padding: 10px 25px;
	border-radius: 15px;
	text-decoration: none;
	color: black;
}

.linq:hover {
	text-decoration: none;
	color: black;
	background-color:#c9c1b5;
}

.busqueda {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 50px;
	font-size: 20px;
	border: 2px;
	border-style: solid;
	border-radius: 25px;
	border-color: black;
}

.busco {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*.sesion {
	font-weight: bold;
}*/

.line{
    width: 100%;
    border-bottom: 2px solid black;
}

.boton {
	width: 155px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 10px;
	border-radius: 25px;
	border: 2px;
	border-style: solid;
	border-color: black;
	margin-bottom: 50px;
}

.boton:hover {
	background-color: black;
	color: #e9e3d7;
}


footer {
	bottom: 0;
  width: 90%;
  margin-left: auto;
	margin-right: auto;
  display: flex;
	justify-content: space-between;
	align-items: center;
  padding-bottom: 15px;
}

footer div a {
  text-decoration: none;
  color: black;
}

footer div a p:hover {
  color: #c72e26;
}