body {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Neue Haas Grotesk Text', sans-serif !important;
}

header {
    height: 3rem;
    padding: 0.7rem;
}

header a {
    text-decoration: none;
}

.link{
    color: #f0f0f0 !important;
}

.link:hover{
    text-decoration: underline;
}

.navega {
    font-size: 7vw;
    overflow: auto;
    text-align: center;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}

#active {
    color: #ecd021;
}

#active:hover {
    text-decoration: underline;
}

.navbar-nav:hover {
    color: gray;
    text-decoration: underline;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
    font-size: 30px;
    height: 55px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 12s linear infinite;
}

.marquee p {
    display: inline-block;
}

.favs {
    text-transform: uppercase;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-25%, 0, 0);
    }
}

.foto1 {
    border: 5px solid black;
}

.foto2 {
    display: none;
    border: 5px solid black;
}

.previa:hover .foto1 {
    display: none;
}

.previa:hover .foto2 {
    display: block;
}

.text-center {
    padding-top: 5px;
    line-height: 15px;
}

footer {
    height: 3.2rem;
    padding: 0.7rem;
}

footer a {
    text-decoration: none;
}

.yop {
    font-size: 30px;
    line-height: 35px;
}

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
    }