body {
  background-image: linear-gradient(45deg, #4e4466, #526d85, #c9e8fd);
  margin: 0;
  font-family: 'Neue Haas Grotesk Text', sans-serif;
}

header {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #e9e6e1;
}

h1 {
  font-size: 100px;
  letter-spacing: -6px;
  line-height: 80px;
  margin-bottom: 30px;
}

h3 {
  font-weight: lighter;
  margin-bottom: 50px;
}

h3 a {
  text-decoration: none;
  color: #526d85;
}

h3 a:hover {
  color: #4e4466;
}

main {
  margin-bottom: 100px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.contenedor img {
  flex-wrap: wrap;
  margin: 10px 0;
  filter: grayscale(100%);
  object-fit: cover;
  width: 350px;
  height: 350px;
  border: 10px;
  border-style: solid;
  border-image-slice: 1;
  border-radius: 20px;
  margin-bottom: 50px;
  border-color: grey;
}

#lavender:hover {
  border-color: #b6acdf;
}

#maroon:hover {
  border-color: #d86579;
}

#antihero:hover {
  border-color: #4d84c5;
}

#sotb:hover {
  border-color: #cd81b1;
}

#portada:hover {
  border-color: #739db1;
} 

#yoyok:hover {
  border-color: #ee9c58;
}

#antihero2:hover {
  border-color: #4e84a6;
}

#sweet:hover {
  border-color: #e2829f;
} 

#war:hover {
  border-color: #e3af47;
}

.contenedor img:hover {
  filter: grayscale(0%);
}
