body {
  background: lavender;
  margin: 0;
}

header {
  background: lightcoral;
  padding: 20px;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 55px;
  line-height: 45px;
}

h4 {
  font-weight: lighter;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.contenedor img {
  flex-wrap: wrap;
  margin: 10px 0;
  filter: opacity(50%);
  object-fit: cover;
  width: 350px;
  height: 350px;
  border: 10px;
  border-style: solid;
  border-color: lightcoral;
  border-radius: 20px;

}

.contenedor img:hover {
  filter: opacity(100%);
}